@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
a {
  color: #FFD200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 50px;
}